Import Python modules.

In [54]:
import json
import pandas as pd
import numpy as np

1. Read detailed postseason game stats JSON file into a viewable pandas object.
2. Split detailed postseason panda object into an [1] "id" and [2] "teams" pandas objects.
3. Split "teams" pandas for each game into four (4) lists...
   * [1] team_0, [2] team_0.location, [3] team_1, and [4] team_1.location

In [78]:
# load detailed weekly_games game stats JSON as a pandas object
cfb_year = input('Input college football year?')
week_number = input('Input regular season week number')

# 2024-regular-weekNumber-detailedGamesCFB-JSON

json_detailed_weekly_games = cfb_year + '_cfb_JSON-CSV/' + cfb_year + '-regular-' + week_number + '-detailedGamesCFB-JSON.json'
detailed_weekly_games = pd.read_json(json_detailed_weekly_games)

# split detailed_postseason pandas object to list id_only (N-games x 1)
id_only = detailed_weekly_games.drop(['teams'], axis=1)
rows = id_only.shape[0]
print(str(rows) + ' games')

# split detailed_postseason pandas object to list teams (N-games x 1)
teams_only = detailed_weekly_games.drop(['id'], axis=1)

# split detailed_postseason 'DataFrame' into a [1] teams[j][0]['teams_key'] list
# & teams[j][1]['teams_key'] list (N-teams x 1)
def teams_column(all_games, team_number, teams_key):
    teams_list = []
    for game in range(all_games):
        teams_list.append((teams_only['teams'][game][team_number][teams_key]))
    return teams_list

team0_list = teams_column(rows, 0, 'school')
team1_list = teams_column(rows, 1, 'school')
team0_location_list = teams_column(rows, 0, 'homeAway')
team1_location_list = teams_column(rows, 1, 'homeAway')
team0_points_list = teams_column(rows, 0, 'points')
team1_points_list = teams_column(rows, 1, 'points')
team0_school_id_list = teams_column(rows, 0, 'schoolId')
team1_school_id_list = teams_column(rows, 1, 'schoolId')

# Combine the 4 list-Series into a DataFrame (N-teams x 4)
teams_detail = pd.DataFrame({'team0': team0_list, 'team0.id': team0_school_id_list, 'team0.location': team0_location_list,
                             'team0.points': team0_points_list, 'team1' : team1_list,  'team1.id': team1_school_id_list,
                             'team1.location' : team1_location_list, 'team1.points': team1_points_list})

# Join games id with team_0 and team_1 information
id_teams_locations_df = id_only.join(teams_detail, on=None)
id_teams_locations_df

Input college football year? 2024
Input regular season week number 4

54 games

,id,team0,team0.id,team0.location,team0.points,team1,team1.id,team1.location,team1.points
0,401628979,Miami (OH),193,away,3,Notre Dame,87,home,28
1,401636876,Utah,254,away,22,Oklahoma State,197,home,19
2,401636872,BYU,252,home,38,Kansas State,2306,away,9
3,401636874,Colorado,38,home,38,Baylor,239,away,31
4,401636875,Arkansas State,2032,away,7,Iowa State,66,home,52
5,401636877,Arizona State,9,away,22,Texas Tech,2641,home,30
6,401636879,West Virginia,277,home,32,Kansas,2305,away,28
7,401635557,SMU,2567,home,66,TCU,2628,away,42
8,401635555,Miami,2390,away,50,South Florida,58,home,15
9,401640991,Liberty,2335,home,35,East Carolina,151,away,24
10,401641008,Louisiana Tech,2348,home,20,Tulsa,202,away,23
11,401643715,Utah State,328,away,29,Temple,218,home,45
12,401645329,Navy,2426,home,56,Memphis,235,away,44
13,401643791,Louisiana,309,home,33,Tulane,2655,away,41
14,401641037,Toledo,2649,away,21,Western Kentucky,98,home,26
15,401635553,Duke,150,away,45,Middle Tennessee,2393,home,17
16,401641028,Colorado State,36,home,27,UTEP,2638,away,17
17,401643717,Purdue,2509,away,21,Oregon State,204,home,38
18,401643714,San José State,23,away,52,Washington State,265,home,54
19,401635556,North Carolina,153,home,50,James Madison,256,away,70
20,401628492,Ohio State,194,home,49,Marshall,276,away,14
21,401628366,Ole Miss,145,home,52,Georgia Southern,290,away,13
22,401635558,Virginia,258,away,43,Coastal Carolina,324,home,24
23,401643790,South Alabama,6,away,48,App State,2026,home,14
24,401628371,Texas,251,home,51,UL Monroe,2433,away,3
25,401641000,Jacksonville State,55,home,44,Southern Miss,2572,away,7
26,401629031,Florida Atlantic,2226,away,14,UConn,41,home,48
27,401636873,Houston,248,away,0,Cincinnati,2132,home,34
28,401628486,Indiana,84,home,52,Charlotte,2429,away,14
29,401643716,Wyoming,2751,away,17,North Texas,249,home,44
30,401645328,Army,349,home,37,Rice,242,away,14
31,401641034,Sam Houston,2534,home,31,New Mexico State,166,away,11
32,401634766,Syracuse,183,home,24,Stanford,24,away,26
33,401635551,Florida State,52,home,14,California,25,away,9
34,401635554,Louisville,97,home,31,Georgia Tech,59,away,19
35,401628490,Michigan State,127,away,19,Boston College,103,home,23
36,401635552,Clemson,228,home,59,NC State,152,away,35
37,401628494,Rutgers,164,away,26,Virginia Tech,259,home,23
38,401628365,LSU,99,home,34,UCLA,26,away,17
39,401628489,Michigan,130,home,27,USC,30,away,24
40,401628491,Washington,264,home,24,Northwestern,77,away,5
41,401628487,Iowa,2294,away,31,Minnesota,135,home,14
42,401628485,Illinois,356,away,31,Nebraska,158,home,24
43,401628493,Kent State,2309,away,0,Penn State,213,home,56
44,401628372,Texas A&M,245,home,26,Bowling Green,189,away,20
45,401628364,Kentucky,96,home,41,Ohio,195,away,6
46,401628370,South Carolina,2579,home,50,Akron,2006,away,7
47,401644735,Central Michigan,2117,home,37,Ball State,2050,away,34
48,401644736,Northern Illinois,2459,home,20,Buffalo,2084,away,23
49,401643711,Fresno State,278,away,38,New Mexico,167,home,21
50,401628363,Arkansas,8,away,24,Auburn,2,home,14
51,401628367,Mississippi State,344,home,28,Florida,57,away,45
52,401628368,Vanderbilt,238,away,27,Missouri,142,home,30
53,401628369,Tennessee,2633,away,25,Oklahoma,201,home,15

In [79]:
# practicing reading JSON file with nested dictionaries
# read detailed category stats from game #1, team0 [game0 until last row][team0 or team1] (read values from a "stats" dictionary)
# detailed stats list for each team will vary

# loop through every game as a new row; join rows with game id (id_detailed_game_stats_df);
#   join "id_team_locations_df" with "id_detailed_game_stats_df"

accumulator = []
for game in range(rows):
    for team in range(2):
        team_detailed_stats = teams_only['teams'][game][team]['stats']
        
        # convert team_detailed_stats into a DataFrame
        team_detailed_stats_df = pd.DataFrame(team_detailed_stats)
        
        # convert team_detailed_stats_df into a numpy nested array
        team_detailed_stats_np = team_detailed_stats_df.to_numpy()
        
        # transpose nested array
        team_detailed_stats_np = np.transpose(team_detailed_stats_np)
        
        # create team name (either 'team0.' or 'team1.')
        team_int = 'team' + str(team) + '.'
        
        # convert back to DataFrame with header as stats columns
        team_detailed_stats_df2 = pd.DataFrame(team_detailed_stats_np)
        new_header = team_detailed_stats_df2.iloc[0]
        team_detailed_stats_df2 = team_detailed_stats_df2[1:]
        team_detailed_stats_df2.columns = new_header
        
        # insert team0. or team1. as a prefix in the header row
        team_detailed_stats_df2 = team_detailed_stats_df2.add_prefix(team_int)
        accumulator.append(team_detailed_stats_df2)

# accumulator includes all teams, odd rows are team0, even rows are team1
big_df = pd.concat(accumulator)
big_df

,team0.rushingTDs,team0.puntReturnYards,team0.puntReturnTDs,team0.puntReturns,team0.passingTDs,team0.kickingPoints,team0.fumblesRecovered,team0.totalFumbles,team0.tacklesForLoss,team0.defensiveTDs,...,team1.totalYards,team1.fourthDownEff,team1.thirdDownEff,team1.firstDowns,team0.kickReturnYards,team0.kickReturnTDs,team0.kickReturns,team0.interceptionYards,team0.interceptionTDs,team0.passesIntercepted
1,0,10,0,1,0,3,2,2,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,428,1-2,5-11,24,NaN,NaN,NaN,NaN,NaN,NaN
1,1,11,0,3,1,10,0,2,3,0,...,NaN,NaN,NaN,NaN,23,0,2,0,0,2
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,285,0-0,4-15,11,NaN,NaN,NaN,NaN,NaN,NaN
1,1,90,1,1,2,8,1,0,3,2,...,NaN,NaN,NaN,NaN,18,0,1,15,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,503,0-0,7-9,28,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,2,9,0,2,8,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,442,0-1,7-17,22,NaN,NaN,NaN,NaN,NaN,NaN
1,1,12,0,2,1,11,2,2,11,0,...,NaN,NaN,NaN,NaN,0,0,1,17,0,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,222,1-3,3-15,16,NaN,NaN,NaN,NaN,NaN,NaN

group big_df every two rows

In [80]:
group_big_df = big_df.groupby(np.arange(len(big_df))//2).sum()
group_big_df

,team0.rushingTDs,team0.puntReturnYards,team0.puntReturnTDs,team0.puntReturns,team0.passingTDs,team0.kickingPoints,team0.fumblesRecovered,team0.totalFumbles,team0.tacklesForLoss,team0.defensiveTDs,...,team1.totalYards,team1.fourthDownEff,team1.thirdDownEff,team1.firstDowns,team0.kickReturnYards,team0.kickReturnTDs,team0.kickReturns,team0.interceptionYards,team0.interceptionTDs,team0.passesIntercepted
0,0,10,0,1,0,3,2,2,2,0,...,428,1-2,5-11,24,0,0,0,0,0,0
1,1,11,0,3,1,10,0,2,3,0,...,285,0-0,4-15,11,23,0,2,0,0,2
2,1,90,1,1,2,8,1,0,3,2,...,367,0-3,8-17,17,18,0,1,15,0,2
3,3,7,0,4,2,8,0,1,5,0,...,314,1-2,7-17,15,0,0,0,0,0,0
4,0,0,0,0,1,1,0,3,5,0,...,490,2-2,6-11,25,31,0,2,30,0,2
5,3,0,0,0,0,4,0,0,3,0,...,337,0-0,8-19,24,26,0,2,0,0,0
6,2,18,0,2,2,6,1,1,5,0,...,432,2-2,6-13,25,15,0,1,16,0,1
7,3,69,1,1,2,16,3,1,5,3,...,480,3-4,8-16,24,51,0,3,97,1,2
8,4,0,0,0,3,6,0,0,7,0,...,365,1-1,7-17,22,70,0,3,0,0,2
9,1,0,0,0,4,5,1,3,5,0,...,331,1-2,7-15,20,55,0,3,35,0,1
10,2,100,0,6,1,2,0,2,8,0,...,333,0-0,4-16,14,108,0,5,0,0,0
11,2,0,0,1,2,3,0,1,4,0,...,451,0-0,10-16,20,38,0,2,0,0,0
12,5,8,0,1,2,8,0,0,2,1,...,659,3-4,12-19,32,0,0,0,86,1,1
13,2,7,0,1,2,9,0,0,3,0,...,355,1-1,9-14,18,28,0,1,0,0,0
14,1,43,0,2,2,3,1,2,6,0,...,313,1-1,3-12,16,65,0,3,18,0,2
15,3,10,0,2,3,9,3,1,12,0,...,295,2-3,5-17,18,66,0,3,12,0,1
16,2,32,0,2,1,9,0,0,8,0,...,324,0-2,7-17,15,44,0,2,0,0,1
17,2,20,0,1,1,3,0,2,6,0,...,445,1-3,7-14,25,0,0,0,0,0,0
18,3,11,0,1,4,8,0,3,10,0,...,627,1-2,9-15,31,57,0,3,55,0,2
19,3,40,1,3,3,6,1,3,4,1,...,611,1-1,6-14,25,78,0,4,0,0,0
20,5,21,0,1,2,7,0,0,7,0,...,264,1-2,7-17,18,0,0,0,0,0,0
21,3,19,0,2,4,10,1,0,13,0,...,195,2-2,3-17,17,22,0,1,6,0,1
22,3,0,0,0,2,13,1,0,4,0,...,384,1-4,4-13,14,16,0,1,0,0,1
23,5,67,0,3,2,6,1,1,4,0,...,385,0-2,4-13,24,0,0,0,96,0,1
24,5,-1,0,3,2,7,0,0,7,0,...,111,1-1,2-12,7,76,0,3,43,0,2
25,5,4,0,2,1,8,2,0,8,0,...,246,2-3,1-10,16,0,0,0,11,0,4
26,2,0,0,0,0,2,1,0,3,0,...,542,2-2,5-10,32,25,0,1,0,0,0
27,0,12,0,2,0,0,0,4,8,0,...,362,1-1,4-10,22,68,0,4,0,0,0
28,6,44,0,3,1,10,1,0,8,0,...,256,1-3,5-13,13,0,0,0,0,0,0
29,0,0,0,1,1,5,0,0,3,1,...,534,4-4,4-14,28,130,1,3,0,0,0
30,3,0,0,0,2,5,0,0,0,0,...,297,1-3,5-10,17,13,0,1,7,0,2
31,3,49,0,4,1,7,1,1,7,0,...,152,1-1,4-13,12,0,0,0,22,0,2
32,1,3,0,1,2,6,0,1,6,0,...,351,2-2,5-14,20,15,0,1,0,0,2
33,1,0,0,1,1,2,0,0,12,0,...,410,1-2,5-15,23,21,0,1,12,0,1
34,0,3,0,2,2,7,1,0,7,1,...,410,3-5,4-15,18,15,0,1,0,0,0
35,1,4,0,1,0,13,1,1,5,0,...,292,1-2,5-13,16,5,0,1,0,0,0
36,4,21,0,1,3,11,2,0,8,1,...,436,1-2,2-10,24,0,0,0,53,1,1
37,3,0,0,0,0,6,2,1,4,0,...,320,0-2,5-12,14,0,0,0,0,0,1
38,1,10,0,1,3,10,1,0,5,0,...,295,1-1,5-12,17,0,0,0,0,0,1
39,3,34,0,3,0,3,1,2,8,1,...,379,0-1,7-19,17,16,0,1,42,1,1
40,1,46,0,4,2,6,0,3,4,0,...,112,1-2,2-13,12,22,0,1,43,0,2
41,4,20,0,3,0,7,0,0,2,0,...,288,1-1,6-14,15,23,0,1,15,0,2
42,0,60,0,3,4,7,0,2,7,0,...,347,0-1,8-15,20,59,0,3,0,0,1
43,0,0,0,0,0,0,0,1,3,0,...,718,0-0,8-10,40,35,0,1,13,0,1
44,0,0,0,0,2,14,0,1,7,0,...,339,2-2,3-12,17,23,0,2,0,0,1
45,4,15,0,3,0,11,1,2,2,1,...,223,0-0,3-9,14,36,0,2,25,1,1
46,4,35,0,3,3,6,0,1,3,0,...,154,0-0,3-13,9,17,0,1,-4,0,1
47,3,0,0,0,2,7,0,1,5,0,...,431,2-3,5-15,27,21,0,3,0,0,0
48,2,9,0,2,0,8,1,2,12,0,...,184,2-2,2-15,9,0,0,0,0,0,0
49,2,0,0,0,2,12,1,1,4,0,...,485,1-3,5-14,25,0,0,0,4,0,2
50,2,0,0,0,1,6,1,0,4,0,...,431,1-3,5-11,17,0,0,0,31,0,4
51,3,0,0,1,1,4,1,3,2,0,...,503,0-0,7-9,28,57,0,2,0,0,0
52,1,0,0,0,2,9,0,2,8,0,...,442,0-1,7-17,22,0,0,0,0,0,0
53,1,12,0,2,1,11,2,2,11,0,...,222,1-3,3-15,16,0,0,1,17,0,1

In [81]:
# view header stats
group_big_df.columns

Index(['team0.rushingTDs', 'team0.puntReturnYards', 'team0.puntReturnTDs',
       'team0.puntReturns', 'team0.passingTDs', 'team0.kickingPoints',
       'team0.fumblesRecovered', 'team0.totalFumbles', 'team0.tacklesForLoss',
       'team0.defensiveTDs', 'team0.tackles', 'team0.sacks', 'team0.qbHurries',
       'team0.passesDeflected', 'team0.possessionTime', 'team0.interceptions',
       'team0.fumblesLost', 'team0.turnovers', 'team0.totalPenaltiesYards',
       'team0.yardsPerRushAttempt', 'team0.rushingAttempts',
       'team0.rushingYards', 'team0.yardsPerPass', 'team0.completionAttempts',
       'team0.netPassingYards', 'team0.totalYards', 'team0.fourthDownEff',
       'team0.thirdDownEff', 'team0.firstDowns', 'team1.rushingTDs',
       'team1.puntReturnYards', 'team1.puntReturnTDs', 'team1.puntReturns',
       'team1.passingTDs', 'team1.kickReturnYards', 'team1.kickReturnTDs',
       'team1.kickReturns', 'team1.kickingPoints', 'team1.interceptionYards',
       'team1.interceptionTDs', 'team1.passesIntercepted',
       'team1.fumblesRecovered', 'team1.totalFumbles', 'team1.tacklesForLoss',
       'team1.defensiveTDs', 'team1.tackles', 'team1.sacks', 'team1.qbHurries',
       'team1.passesDeflected', 'team1.possessionTime', 'team1.interceptions',
       'team1.fumblesLost', 'team1.turnovers', 'team1.totalPenaltiesYards',
       'team1.yardsPerRushAttempt', 'team1.rushingAttempts',
       'team1.rushingYards', 'team1.yardsPerPass', 'team1.completionAttempts',
       'team1.netPassingYards', 'team1.totalYards', 'team1.fourthDownEff',
       'team1.thirdDownEff', 'team1.firstDowns', 'team0.kickReturnYards',
       'team0.kickReturnTDs', 'team0.kickReturns', 'team0.interceptionYards',
       'team0.interceptionTDs', 'team0.passesIntercepted'],
      dtype='object', name=0)

In [82]:
# Concatenate weekly regular season ID DataFrame and detailed stats DataFrame
cfb_weekly_games = pd.concat([id_teams_locations_df, group_big_df], axis=1)
cfb_weekly_games

,id,team0,team0.id,team0.location,team0.points,team1,team1.id,team1.location,team1.points,team0.rushingTDs,...,team1.totalYards,team1.fourthDownEff,team1.thirdDownEff,team1.firstDowns,team0.kickReturnYards,team0.kickReturnTDs,team0.kickReturns,team0.interceptionYards,team0.interceptionTDs,team0.passesIntercepted
0,401628979,Miami (OH),193,away,3,Notre Dame,87,home,28,0,...,428,1-2,5-11,24,0,0,0,0,0,0
1,401636876,Utah,254,away,22,Oklahoma State,197,home,19,1,...,285,0-0,4-15,11,23,0,2,0,0,2
2,401636872,BYU,252,home,38,Kansas State,2306,away,9,1,...,367,0-3,8-17,17,18,0,1,15,0,2
3,401636874,Colorado,38,home,38,Baylor,239,away,31,3,...,314,1-2,7-17,15,0,0,0,0,0,0
4,401636875,Arkansas State,2032,away,7,Iowa State,66,home,52,0,...,490,2-2,6-11,25,31,0,2,30,0,2
5,401636877,Arizona State,9,away,22,Texas Tech,2641,home,30,3,...,337,0-0,8-19,24,26,0,2,0,0,0
6,401636879,West Virginia,277,home,32,Kansas,2305,away,28,2,...,432,2-2,6-13,25,15,0,1,16,0,1
7,401635557,SMU,2567,home,66,TCU,2628,away,42,3,...,480,3-4,8-16,24,51,0,3,97,1,2
8,401635555,Miami,2390,away,50,South Florida,58,home,15,4,...,365,1-1,7-17,22,70,0,3,0,0,2
9,401640991,Liberty,2335,home,35,East Carolina,151,away,24,1,...,331,1-2,7-15,20,55,0,3,35,0,1
10,401641008,Louisiana Tech,2348,home,20,Tulsa,202,away,23,2,...,333,0-0,4-16,14,108,0,5,0,0,0
11,401643715,Utah State,328,away,29,Temple,218,home,45,2,...,451,0-0,10-16,20,38,0,2,0,0,0
12,401645329,Navy,2426,home,56,Memphis,235,away,44,5,...,659,3-4,12-19,32,0,0,0,86,1,1
13,401643791,Louisiana,309,home,33,Tulane,2655,away,41,2,...,355,1-1,9-14,18,28,0,1,0,0,0
14,401641037,Toledo,2649,away,21,Western Kentucky,98,home,26,1,...,313,1-1,3-12,16,65,0,3,18,0,2
15,401635553,Duke,150,away,45,Middle Tennessee,2393,home,17,3,...,295,2-3,5-17,18,66,0,3,12,0,1
16,401641028,Colorado State,36,home,27,UTEP,2638,away,17,2,...,324,0-2,7-17,15,44,0,2,0,0,1
17,401643717,Purdue,2509,away,21,Oregon State,204,home,38,2,...,445,1-3,7-14,25,0,0,0,0,0,0
18,401643714,San José State,23,away,52,Washington State,265,home,54,3,...,627,1-2,9-15,31,57,0,3,55,0,2
19,401635556,North Carolina,153,home,50,James Madison,256,away,70,3,...,611,1-1,6-14,25,78,0,4,0,0,0
20,401628492,Ohio State,194,home,49,Marshall,276,away,14,5,...,264,1-2,7-17,18,0,0,0,0,0,0
21,401628366,Ole Miss,145,home,52,Georgia Southern,290,away,13,3,...,195,2-2,3-17,17,22,0,1,6,0,1
22,401635558,Virginia,258,away,43,Coastal Carolina,324,home,24,3,...,384,1-4,4-13,14,16,0,1,0,0,1
23,401643790,South Alabama,6,away,48,App State,2026,home,14,5,...,385,0-2,4-13,24,0,0,0,96,0,1
24,401628371,Texas,251,home,51,UL Monroe,2433,away,3,5,...,111,1-1,2-12,7,76,0,3,43,0,2
25,401641000,Jacksonville State,55,home,44,Southern Miss,2572,away,7,5,...,246,2-3,1-10,16,0,0,0,11,0,4
26,401629031,Florida Atlantic,2226,away,14,UConn,41,home,48,2,...,542,2-2,5-10,32,25,0,1,0,0,0
27,401636873,Houston,248,away,0,Cincinnati,2132,home,34,0,...,362,1-1,4-10,22,68,0,4,0,0,0
28,401628486,Indiana,84,home,52,Charlotte,2429,away,14,6,...,256,1-3,5-13,13,0,0,0,0,0,0
29,401643716,Wyoming,2751,away,17,North Texas,249,home,44,0,...,534,4-4,4-14,28,130,1,3,0,0,0
30,401645328,Army,349,home,37,Rice,242,away,14,3,...,297,1-3,5-10,17,13,0,1,7,0,2
31,401641034,Sam Houston,2534,home,31,New Mexico State,166,away,11,3,...,152,1-1,4-13,12,0,0,0,22,0,2
32,401634766,Syracuse,183,home,24,Stanford,24,away,26,1,...,351,2-2,5-14,20,15,0,1,0,0,2
33,401635551,Florida State,52,home,14,California,25,away,9,1,...,410,1-2,5-15,23,21,0,1,12,0,1
34,401635554,Louisville,97,home,31,Georgia Tech,59,away,19,0,...,410,3-5,4-15,18,15,0,1,0,0,0
35,401628490,Michigan State,127,away,19,Boston College,103,home,23,1,...,292,1-2,5-13,16,5,0,1,0,0,0
36,401635552,Clemson,228,home,59,NC State,152,away,35,4,...,436,1-2,2-10,24,0,0,0,53,1,1
37,401628494,Rutgers,164,away,26,Virginia Tech,259,home,23,3,...,320,0-2,5-12,14,0,0,0,0,0,1
38,401628365,LSU,99,home,34,UCLA,26,away,17,1,...,295,1-1,5-12,17,0,0,0,0,0,1
39,401628489,Michigan,130,home,27,USC,30,away,24,3,...,379,0-1,7-19,17,16,0,1,42,1,1
40,401628491,Washington,264,home,24,Northwestern,77,away,5,1,...,112,1-2,2-13,12,22,0,1,43,0,2
41,401628487,Iowa,2294,away,31,Minnesota,135,home,14,4,...,288,1-1,6-14,15,23,0,1,15,0,2
42,401628485,Illinois,356,away,31,Nebraska,158,home,24,0,...,347,0-1,8-15,20,59,0,3,0,0,1
43,401628493,Kent State,2309,away,0,Penn State,213,home,56,0,...,718,0-0,8-10,40,35,0,1,13,0,1
44,401628372,Texas A&M,245,home,26,Bowling Green,189,away,20,0,...,339,2-2,3-12,17,23,0,2,0,0,1
45,401628364,Kentucky,96,home,41,Ohio,195,away,6,4,...,223,0-0,3-9,14,36,0,2,25,1,1
46,401628370,South Carolina,2579,home,50,Akron,2006,away,7,4,...,154,0-0,3-13,9,17,0,1,-4,0,1
47,401644735,Central Michigan,2117,home,37,Ball State,2050,away,34,3,...,431,2-3,5-15,27,21,0,3,0,0,0
48,401644736,Northern Illinois,2459,home,20,Buffalo,2084,away,23,2,...,184,2-2,2-15,9,0,0,0,0,0,0
49,401643711,Fresno State,278,away,38,New Mexico,167,home,21,2,...,485,1-3,5-14,25,0,0,0,4,0,2
50,401628363,Arkansas,8,away,24,Auburn,2,home,14,2,...,431,1-3,5-11,17,0,0,0,31,0,4
51,401628367,Mississippi State,344,home,28,Florida,57,away,45,3,...,503,0-0,7-9,28,57,0,2,0,0,0
52,401628368,Vanderbilt,238,away,27,Missouri,142,home,30,1,...,442,0-1,7-17,22,0,0,0,0,0,0
53,401628369,Tennessee,2633,away,25,Oklahoma,201,home,15,1,...,222,1-3,3-15,16,0,0,1,17,0,1

In [83]:
# create a DataFrame by each team and display the teams's total offense
# id | team0 | team0.points | team0.totalYards | team0.totalDefenseYards |
# team1 | team1.points | team1.totalYards | team1.totalDefenseYards
cfb_weekly_total_Yards = cfb_weekly_games[['id', 'team0', 'team0.id', 'team0.totalYards', 'team1.totalYards',
                                                  'team1', 'team1.id', 'team1.totalYards', 'team0.totalYards']]
cfb_weekly_total_Yards.columns = ['id', 'team0', 'team0.id', 'team0.totalYards', 'team0.defenseYards',
                                                  'team1', 'team1.id', 'team1.totalYards', 'team1.defenseYards']
cfb_weekly_total_Yards

,id,team0,team0.id,team0.totalYards,team0.defenseYards,team1,team1.id,team1.totalYards,team1.defenseYards
0,401628979,Miami (OH),193,229,428,Notre Dame,87,428,229
1,401636876,Utah,254,456,285,Oklahoma State,197,285,456
2,401636872,BYU,252,241,367,Kansas State,2306,367,241
3,401636874,Colorado,38,432,314,Baylor,239,314,432
4,401636875,Arkansas State,2032,182,490,Iowa State,66,490,182
5,401636877,Arizona State,9,376,337,Texas Tech,2641,337,376
6,401636879,West Virginia,277,444,432,Kansas,2305,432,444
7,401635557,SMU,2567,375,480,TCU,2628,480,375
8,401635555,Miami,2390,592,365,South Florida,58,365,592
9,401640991,Liberty,2335,414,331,East Carolina,151,331,414
10,401641008,Louisiana Tech,2348,284,333,Tulsa,202,333,284
11,401643715,Utah State,328,479,451,Temple,218,451,479
12,401645329,Navy,2426,566,659,Memphis,235,659,566
13,401643791,Louisiana,309,413,355,Tulane,2655,355,413
14,401641037,Toledo,2649,325,313,Western Kentucky,98,313,325
15,401635553,Duke,150,340,295,Middle Tennessee,2393,295,340
16,401641028,Colorado State,36,356,324,UTEP,2638,324,356
17,401643717,Purdue,2509,319,445,Oregon State,204,445,319
18,401643714,San José State,23,491,627,Washington State,265,627,491
19,401635556,North Carolina,153,616,611,James Madison,256,611,616
20,401628492,Ohio State,194,569,264,Marshall,276,264,569
21,401628366,Ole Miss,145,607,195,Georgia Southern,290,195,607
22,401635558,Virginia,258,525,384,Coastal Carolina,324,384,525
23,401643790,South Alabama,6,474,385,App State,2026,385,474
24,401628371,Texas,251,497,111,UL Monroe,2433,111,497
25,401641000,Jacksonville State,55,509,246,Southern Miss,2572,246,509
26,401629031,Florida Atlantic,2226,250,542,UConn,41,542,250
27,401636873,Houston,248,233,362,Cincinnati,2132,362,233
28,401628486,Indiana,84,510,256,Charlotte,2429,256,510
29,401643716,Wyoming,2751,244,534,North Texas,249,534,244
30,401645328,Army,349,408,297,Rice,242,297,408
31,401641034,Sam Houston,2534,382,152,New Mexico State,166,152,382
32,401634766,Syracuse,183,365,351,Stanford,24,351,365
33,401635551,Florida State,52,284,410,California,25,410,284
34,401635554,Louisville,97,326,410,Georgia Tech,59,410,326
35,401628490,Michigan State,127,368,292,Boston College,103,292,368
36,401635552,Clemson,228,523,436,NC State,152,436,523
37,401628494,Rutgers,164,422,320,Virginia Tech,259,320,422
38,401628365,LSU,99,454,295,UCLA,26,295,454
39,401628489,Michigan,130,322,379,USC,30,379,322
40,401628491,Washington,264,391,112,Northwestern,77,112,391
41,401628487,Iowa,2294,334,288,Minnesota,135,288,334
42,401628485,Illinois,356,383,347,Nebraska,158,347,383
43,401628493,Kent State,2309,67,718,Penn State,213,718,67
44,401628372,Texas A&M,245,408,339,Bowling Green,189,339,408
45,401628364,Kentucky,96,488,223,Ohio,195,223,488
46,401628370,South Carolina,2579,549,154,Akron,2006,154,549
47,401644735,Central Michigan,2117,527,431,Ball State,2050,431,527
48,401644736,Northern Illinois,2459,359,184,Buffalo,2084,184,359
49,401643711,Fresno State,278,345,485,New Mexico,167,485,345
50,401628363,Arkansas,8,334,431,Auburn,2,431,334
51,401628367,Mississippi State,344,480,503,Florida,57,503,480
52,401628368,Vanderbilt,238,324,442,Missouri,142,442,324
53,401628369,Tennessee,2633,345,222,Oklahoma,201,222,345

In [84]:
# Create a DataFrame sorted by team0.id (N rows x 4 columns)
# Columns: team | team_id | offense_yards | defense_yards
team0_total_yards = cfb_weekly_total_Yards[['team0.id', 'team0', 'team0.totalYards', 'team1.totalYards']]
team0_total_yards.columns = ['id', 'team_wk4', 'Off_wk4', 'Def_wk4']

# Create a DataFrame sorted by team1.id (N rows x 4 columns)
team1_total_yards = cfb_weekly_total_Yards[['team1.id', 'team1', 'team1.totalYards', 'team0.totalYards']]
team1_total_yards.columns = ['id', 'team_wk4', 'Off_wk4', 'Def_wk4']

# Append rows of team0 & team1 DataFrames
actual_off_def = pd.concat([team0_total_yards, team1_total_yards])

# Write DataFrame to a CSV file
actual_off_def.to_csv('2024_cfb_JSON-CSV/2024-week4-teams-off-def.csv', index=False)
actual_off_def

      id        team_wk4 Off_wk4 Def_wk4
0    193      Miami (OH)     229     428
1    254            Utah     456     285
2    252             BYU     241     367
3     38        Colorado     432     314
4   2032  Arkansas State     182     490
..   ...             ...     ...     ...
49   167      New Mexico     485     345
50     2          Auburn     431     334
51    57         Florida     503     480
52   142        Missouri     442     324
53   201        Oklahoma     222     345

[108 rows x 4 columns]

In [85]:
# find certain team(s)
actual_off_def.query('id == 41 or id == 152 or id == 201 or id == 326 or id == 2390')

      id  team_wk4 Off_wk4 Def_wk4
8   2390     Miami     592     365
26    41     UConn     542     250
36   152  NC State     436     523
53   201  Oklahoma     222     345

In [86]:
# import and join several CSV files into a joined DataFrame
csv_week1 = pd.read_csv('2024_cfb_JSON-CSV/2024-week1-teams-off-def.csv')
csv_week2 = pd.read_csv('2024_cfb_JSON-CSV/2024-week2-teams-off-def.csv')
csv_week3 = pd.read_csv('2024_cfb_JSON-CSV/2024-week3-teams-off-def.csv')
csv_week4 = pd.read_csv('2024_cfb_JSON-CSV/2024-week4-teams-off-def.csv')

week1_2 = csv_week1.merge(csv_week2, how='outer', on='id')
week1_3 = week1_2.merge(csv_week3, how='outer', on='id')
week1_3
week1_4 = week1_3.merge(csv_week4, how='outer', on='id')
week1_4

,id,team,Off_wk1,Def_wk1,team_wk2,Off_wk2,Def_wk2,team_wk3,Off_wk3,Def_wk3,team_wk4,Off_wk4,Def_wk4
0,2,Auburn,628.0,240.0,Auburn,286.0,334.0,Auburn,503.0,448.0,Auburn,431.0,334.0
1,5,UAB,517.0,177.0,UAB,259.0,296.0,UAB,354.0,427.0,NaN,NaN,NaN
2,6,South Alabama,582.0,550.0,South Alabama,335.0,404.0,South Alabama,622.0,237.0,South Alabama,474.0,385.0
3,8,Arkansas,687.0,130.0,Arkansas,648.0,385.0,Arkansas,427.0,354.0,Arkansas,334.0,431.0
4,9,Arizona State,499.0,118.0,Arizona State,428.0,298.0,Arizona State,347.0,400.0,Arizona State,376.0,337.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,2755,Grambling,241.0,481.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,2771,Merrimack,217.0,237.0,Merrimack,279.0,624.0,NaN,NaN,NaN,NaN,NaN,NaN
222,2815,Lindenwood,202.0,530.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,2837,Texas A&M-Commerce,180.0,468.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,3101,NaN,NaN,NaN,Utah Tech,293.0,694.0,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
# find certain team(s)
week1_4.query('id == 41 or id == 152 or id == 201 or id == 326 or id == 2390')

,id,team,Off_wk1,Def_wk1,team_wk2,Off_wk2,Def_wk2,team_wk3,Off_wk3,Def_wk3,team_wk4,Off_wk4,Def_wk4
16,41,UConn,310.0,629.0,UConn,624.0,279.0,UConn,314.0,409.0,UConn,542.0,250.0
53,152,NC State,521.0,361.0,NC State,143.0,460.0,NC State,361.0,324.0,NC State,436.0,523.0
69,201,Oklahoma,378.0,197.0,Oklahoma,252.0,318.0,Oklahoma,349.0,279.0,Oklahoma,222.0,345.0
109,326,Texas State,486.0,288.0,Texas State,511.0,334.0,Texas State,400.0,347.0,NaN,NaN,NaN
162,2390,Miami,529.0,261.0,Miami,549.0,190.0,Miami,750.0,115.0,Miami,592.0,365.0

In [88]:
# Write all weeks DataFrame to a CSV file
week1_4.to_csv('2024_cfb_JSON-CSV/2024-weeks1-4-off-def.csv', index=False)